---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import Projects from "../components/Projects.astro";
import Hola from "../components/Hola.astro";
import TitleSection from "../components/TitleSection.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Portfolio de Feliciano Ojeda Ruiz - Desarrollador y Programador Web."
  description="Contrata a Feliciano para desarollar tu página o aplicación web."
>
  <main class="px-4">
    <SectionContainer class="py-36 pb-28">
      <Hola />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size:7 md:size-8 lg:size-9" />
        Experiencia Laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="mt-24">
      <TitleSection>
        <CodeIcon class="size:7 md:size-8 lg:size-9" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>
    
    <SectionContainer id="sobre-mi" class="mt-24">
      <TitleSection>
        <ProfileCheck class="size:7 md:size-8 lg:size-9" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
