---
const personalImageAlt = "Feliciano Ojeda Ruiz";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-teal-800 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-pink-600 dark:[&>p>strong]:text-lime-200 [&>p>strong]:font-semibold  text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Feliciano soy Argentino y Español, hace un poco más de 2 años
      vivo en Granada, España. En el 2022 comence a sumergirme en este
      apasionante mundo de la programación y <strong
        >en mayo del 2023 pude terminar con exito el bootcamp de Desarrollo Web
        en Ironhack</strong
      >.
    </p>

    <p>
      Desde entonces me encuetro trabajando en modo freelance en diferentes
      proyectos que me han llenado de satisfacción. <strong
        >Desarrollando web apps que son utilizadas diariamente y cumplen su
        objetivo de facilitar tareas</strong
      >. En definitiva, solucionando problemas y en su pequeña medida
      facilitando la vida a otras personas.
    </p>

    <p>
      Trabajar en el desarrollo de nuevos proyectos y en el mantenimiento de los
      que están en funcionamiento, me ayuda a continuar aprendiendo día a día y
      a estar actualizado.
      <strong
        >Entre mis objetivos principales está
      desarrollar proyectos que me desafien a aprender nuevas
        herramientas y mejorar mi lógica de programación
      </strong>. Si crees que podria aportar al desarrollo de tus proyectos, no
      dudes en contactarme.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/felicianoojeda.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-teal-500/20 dark:bg-teal-500/30 ring-2 ring-teal-600 dark:ring-lime-200"
    style="object-position: 50% 50%"
  />
</article>