---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "2022 - Actualidad...",
    title: "Diseñador Gráfico, Rotulador e Impresor",
    company: "Leo Publicidad",
    description:
      "Encargado de producción, manejo de ploters de impresión y corte, manipulado e instalación de todo tipo de piezas gráficas.",
    link: "https://www.instagram.com/leopublicidadd/?igsh=Ym02MXI0dGNleGk%3D",
  },
  {
    date: "2011-2022",
    title: "Dueño de imprenta",
    company: "GD Gráfica",
    description:
      "Administración y producción en imprenta propia, con hasta 5 empleados a cargo. Atención al cliente / Diseño / Impresión / Post-Impresión.",
    link: "https://www.instagram.com/gdgraficacba/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
