---
const PROJECTS = [
  {
    title: "La Vin Nails App",
    description:
      "Esta app web fue desarrollada para la gestion de citas de un estudio de manicura, cuenta con distintas funcionalidades según si el usuario es cliente o administrador. Listado de servicios, agenda de citas disponibles, tarjeta de fidelidad, enlaces a whatsapp, emails de notificación, etc...",
    link: "https://la-vin-nails-app.fly.dev/",
    github: "https://github.com/FeliOjedaRuiz/la-vin-nails-web-react",
    image: "/projects/LaVinNails.webp",
    tags: ["React", "Tailwind CSS", "Node"],
  },
  {
    title: "Jurado App",
    description:
      "App web para votación en concursos por jurado, permite crear eventos y administrarlos, agregar grupos, categoryas y jurados. Y los usuarios invitados como jurado a un evento pueden puntuar a los grupos en las diferentes categorias, generando una sumatoria total de puntos que puede ser obtenida por el usuario",
    link: "https://jurado-app.fly.dev/",
    github: "https://github.com/FeliOjedaRuiz/jurado-app",
    image: "/projects/JuradoApp.webp",
    tags: ["React", "Tailwind CSS", "Node"],
  },
  {
    title: "La Vin Nails App",
    description:
      "Esta app web fue desarrollada para la gestion de citas de un estudio de manicura, cuenta con distintas funcionalidades según si el usuario es cliente o administrador.",
    link: "https://la-vin-nails-app.fly.dev/",
    github: "https://github.com/FeliOjedaRuiz/la-vin-nails-web-react",
    image: "/projects/LaVinNails.webp",
    tags: ["React", "Tailwind CSS", "Node"],
  },
];
---

<div class="flex flex-col gap-y-16">
{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="flex  bg-white/10 p-4 rounded-lg shadow-white">
      <div>
        <h3 class="text-2xl text-teal-500 font-semibold mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul>
          {tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul>
      </div>
      <img src={image} alt="project screenshot" class="rounded max-w-40" />
    </article>
  ))
}
</div>
